:root {
  --primary-color: #00adb5;
  --secondary-color: #393e46;
}

* {
  background: var(--secondary-color);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.keys {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.key {
  border: 0.4rem soilid black;
  border-radius: 0.5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem 0.5rem;
  transition: all 0.07s ease;
  width: 10rem;
  color: #eeeeee;
  text-align: center;
  background: #22283162;
  text-shadow: 0 0 0.5rem var(--primary-color);
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.playing {
  transform: scale(1.1);
  border-color: var(--primary-color);
  box-shadow: 0 0 1rem var(--primary-color);
}
